h1,
h2 {
  position: relative;
  font-size: 27px;
  font-weight: bold;
  top: -100px;
  right: -80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 230px;
  text-align: center;
}

#wind-speed {
  position: relative;
  right: -130px;
  top: -100px;
}

#humidity-value {
  position: relative;
  right: -133px;
  top: -110px;
}
.container {
  border: 2px solid #b6da9c;
  border-radius: 10px;
  height: 550px;
  width: 1000px;
  margin-top: 20px;
}

.mb-3 {
  width: 230px;
  margin-top: 20px;
}

#search-button {
  margin-top: 20px;
}

#current-button {
  margin-top: 20px;
}

#city {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 2px solid #006ec5;
  width: 150px;
  text-align: center;
  font-size: 15px;
  border-radius: 7px;
  font-weight: bold;
}

.future-days {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 40px;
}

.min-max {
  font-weight: bold;
}
.col-5 {
  text-align: center;
}

.col-3 {
  text-align: center;
}

#code-link {
  margin-left: 250px;
  font-size: small;
}

.link {
  font-size: small;
}

#icon {
  display: block;
  margin: -20px auto;
  padding-top: 50px;
}
#description {
  display: block;
  margin: -20px auto;
}

#time {
  position: relative;
  top: -15px;
}
