h1 {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  top: -25px;
  right: -80px;
}
.container {
  border: 2px solid #b6da9c;
  border-radius: 10px;
  height: 450px;
  width: 900px;
  margin-top: 20px;
}

.mb-3 {
  width: 200px;
  margin-top: 20px;
}

#search-button {
  margin-top: 20px;
}

#current-button {
  margin-top: 20px;
}

#city {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 2px solid #006ec5;
  width: 150px;
  text-align: center;
  font-size: 15px;
  border-radius: 7px;
  font-weight: bold;
}

.temperature {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  width: 230px;
  display: block;
  margin: 0 auto;
  border-radius: 120px;
  height: 230px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.future-days {
  margin-top: 50px;
  margin-left: -10px;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.min-max {
  font-weight: bold;
}
.col-5 {
  text-align: center;
}

.col-3 {
  text-align: center;
}

.frame {
  border: 2px solid #cce2f3;
  padding: 8px 8px 8px 8px;
}

#date {
  position: relative;
  text-align: left;
  margin-bottom: 0px;
  font-style: italic;
  bottom: -30px;
}

#time {
  position: relative;
  bottom: -30px;
}

a {
  margin-left: 300px;
  font-size: small;
}

.link {
  font-size: small;
}

#humidity-value {
  position: relative;
  top: -30px;
  right: -80px;
}

#wind-speed {
  position: relative;
  right: -80px;
  top: -20px;
}

#icon {
  position: relative;
  top: 100px;
}

#description {
  position: relative;
  right: -80px;
}
