h1,
h2 {
  position: relative;
  font-size: 27px;
  font-weight: bold;
  top: -100px;
  right: -60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 230px;
  text-align: center;
}

#wind-speed {
  position: relative;
  right: -100px;
  top: -100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

#humidity-value {
  position: relative;
  right: -100px;
  top: -110px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}
.container {
  border: 2px solid #b6da9c;
  border-radius: 10px;
  height: 550px;
  width: 1000px;
  margin-top: 20px;
  background-color: whitesmoke;
}

.mb-3 {
  width: 230px;
  margin-top: 20px;
}

#search-button {
  margin-top: 20px;
}

#current-button {
  margin-top: 20px;
}

#city {
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #006ec5;
  width: 200px;
  text-align: center;
  font-size: 17px;
  border-radius: 7px;
  font-weight: bold;
}

.col-3 {
  text-align: center;
}

#code-link {
  margin-left: 250px;
  font-size: small;
}

.link {
  font-size: small;
}

#icon {
  display: block;
  margin: -20px auto;
  padding-top: 50px;
  width: 100px;
}
#description {
  display: block;
  margin: -20px auto;
}

#date {
  font-style: italic;
}

#time {
  position: relative;
  top: -15px;
  font-style: italic;
}

#unit-link {
  position: relative;
  top: -10px;
}

#forecast {
  margin-top: 40px;
  font-size: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 40px;
}

#forecast-icon {
  text-align: right;
}
